<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <p>Login Below!</p>
        </nav>
    </header>
    <div class="container">
        <main>
            <div class="hero">
                <h1>Welcome to Cat Haven!</h1>
                <p>
                    Here at cat haven, we provide you with pictures and information on all kinds of different
                    cat species! If you love cats you've come to the right website. Whether you just like
                    learning new facts or are looking for a new companion to join your family, we've got
                    what you're looking for!
                </p>
            </div>
            <hr>
            <ul class="cats">
                <li class="cat">
                    <img src="https://media.istockphoto.com/photos/grey-stripped-mixedbreed-cat-sitting-isolated-on-white-picture-id1217828258?b=1&k=6&m=1217828258&s=170667a&w=0&h=aTRNOEvv3DrtII-f0r9rVTS-nAHE4NyYopuu-sZIv8g=" alt="cat">
                    <h2>Cat Name</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Possimus tempore consectetur recusandae quam, sunt, pariatur ab neque modi 
                        harum quaerat, officiis expedita quis fuga. Ut debitis at ex quae inventore.
                    </p>
                </li>
                <li class="cat">
                    <img src="https://media.istockphoto.com/photos/grey-stripped-mixedbreed-cat-sitting-isolated-on-white-picture-id1217828258?b=1&k=6&m=1217828258&s=170667a&w=0&h=aTRNOEvv3DrtII-f0r9rVTS-nAHE4NyYopuu-sZIv8g=" alt="cat">
                    <h2>Cat Name</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Possimus tempore consectetur recusandae quam, sunt, pariatur ab neque modi 
                        harum quaerat, officiis expedita quis fuga. Ut debitis at ex quae inventore.
                    </p>
                </li>
                <li class="cat">
                    <img src="https://media.istockphoto.com/photos/grey-stripped-mixedbreed-cat-sitting-isolated-on-white-picture-id1217828258?b=1&k=6&m=1217828258&s=170667a&w=0&h=aTRNOEvv3DrtII-f0r9rVTS-nAHE4NyYopuu-sZIv8g=" alt="cat">
                    <h2>Cat Name</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Possimus tempore consectetur recusandae quam, sunt, pariatur ab neque modi 
                        harum quaerat, officiis expedita quis fuga. Ut debitis at ex quae inventore.
                    </p>
                </li>
                <li class="cat">
                    <img src="https://media.istockphoto.com/photos/grey-stripped-mixedbreed-cat-sitting-isolated-on-white-picture-id1217828258?b=1&k=6&m=1217828258&s=170667a&w=0&h=aTRNOEvv3DrtII-f0r9rVTS-nAHE4NyYopuu-sZIv8g=" alt="cat">
                    <h2>Cat Name</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Possimus tempore consectetur recusandae quam, sunt, pariatur ab neque modi 
                        harum quaerat, officiis expedita quis fuga. Ut debitis at ex quae inventore.
                    </p>
                </li>
                <li class="cat">
                    <img src="https://media.istockphoto.com/photos/grey-stripped-mixedbreed-cat-sitting-isolated-on-white-picture-id1217828258?b=1&k=6&m=1217828258&s=170667a&w=0&h=aTRNOEvv3DrtII-f0r9rVTS-nAHE4NyYopuu-sZIv8g=" alt="cat">
                    <h2>Cat Name</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Possimus tempore consectetur recusandae quam, sunt, pariatur ab neque modi 
                        harum quaerat, officiis expedita quis fuga. Ut debitis at ex quae inventore.
                    </p>
                </li>
                <li class="cat">
                    <img src="https://media.istockphoto.com/photos/grey-stripped-mixedbreed-cat-sitting-isolated-on-white-picture-id1217828258?b=1&k=6&m=1217828258&s=170667a&w=0&h=aTRNOEvv3DrtII-f0r9rVTS-nAHE4NyYopuu-sZIv8g=" alt="cat">
                    <h2>Cat Name</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Possimus tempore consectetur recusandae quam, sunt, pariatur ab neque modi 
                        harum quaerat, officiis expedita quis fuga. Ut debitis at ex quae inventore.
                    </p>
                </li>
                <li class="cat">
                    <img src="https://media.istockphoto.com/photos/grey-stripped-mixedbreed-cat-sitting-isolated-on-white-picture-id1217828258?b=1&k=6&m=1217828258&s=170667a&w=0&h=aTRNOEvv3DrtII-f0r9rVTS-nAHE4NyYopuu-sZIv8g=" alt="cat">
                    <h2>Cat Name</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Possimus tempore consectetur recusandae quam, sunt, pariatur ab neque modi 
                        harum quaerat, officiis expedita quis fuga. Ut debitis at ex quae inventore.
                    </p>
                </li>
                <li class="cat">
                    <img src="https://media.istockphoto.com/photos/grey-stripped-mixedbreed-cat-sitting-isolated-on-white-picture-id1217828258?b=1&k=6&m=1217828258&s=170667a&w=0&h=aTRNOEvv3DrtII-f0r9rVTS-nAHE4NyYopuu-sZIv8g=" alt="cat">
                    <h2>Cat Name</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Possimus tempore consectetur recusandae quam, sunt, pariatur ab neque modi 
                        harum quaerat, officiis expedita quis fuga. Ut debitis at ex quae inventore.
                    </p>
                </li>
            </ul>
            
            <%- include('partial/login') %>
            
            <% if(typeof(errors) != "undefined"){%>
				
				<% for(x in errors){ %>
						
						<br>
						<br>
						<span><%=errors[x]%></span>
			
				<%}%>
			<%}else if(typeof(success) != "undefined"){%>
			
				<h2 class="success"><%=success%></h2>
			
			<%}%>
        </main>
    </div>
    
    <style>
    	@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    padding: 2rem;
    background-color: rgb(24, 24, 24);
}

nav{
    font-size: 2rem;
    color: white;
    text-align: right;
    font-weight: bold;
}

nav a{
    transition: all 200ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.container{
    max-width: 100rem;
    margin: 0 auto;
}

.hero{
    padding: 5rem 0;
}

h1{
    font-size: 6rem;
    width: 50%;
}

.success{
	position: absolute;
	top: 0;
	right: 0;
	background-color: red;
	padding: 10px;
	color: white;
}

.hero p{
    font-size: 2rem;
}

.cats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 4rem;
    column-gap: 2rem;
    list-style: none;
    text-align: center;
    margin-top: 6rem;
}

.cats img{
    width: 10rem;
}

#login{
	font-size: 4rem;
	font-style: italic;
	text-align: center;
	margin: 5rem auto 2rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto 5rem;
}

input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

input::placeholder{
    font-style: italic;
}

.submit{
    border: 1px solid black;
    padding: 5px 0;
    border-radius: 5px;
    background: none;
	font-weight: bold;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.submit:hover{
    background: black;
    color: white;
}

span{
	color: white;
	background: red;
	border-radius: 5px;
	padding: 5px 10px;
}
    </style>
</body>
</html>