<h1 id="login">Login</h1>
<form action="/login" method="POST">
        
    <input type="text" name="email" id="email" placeholder="email">
    <input type="text" name="password" id="password" placeholder="password">
    <input type="submit" class="submit">

</form>
